<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}
<body>

{% include "navbar.html" %}

<main class="container">
    <div class="row">

        <div class="col-sm-12">
            {% with messages = get_flashed_messages() %}
              {% if messages %}

                <ul>
                {% for message in messages %}
                    <li style="list-style: none;">
                        <div class="alert alert-success alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                           {{ message }}.
                        </div>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
        <section class="col-sm-12 col-md-3 col-lg-3 catalog-categories">

            <h1 class="section-heading">Categories</h1>
            {% for c in catalog %}
            <h3>

                <a class="categories" href="{{ url_for('viewCategory', cat_name=c.name) }}">{{c.name}}</a>

            </h3>
            {% endfor %}

        </section>
        <!--/section -->
        <section class="col-sm-12 col-md-9 col-lg-9">
            <a href="{{url_for('addItemToCategory')}}">Add Item</a>
            <h1 class="section-heading">Latest Items</h1>
            {% for i in items %}
            <h3 class="style-none">

                    <a href="{{ url_for('showCatalogItem', cat_name=i.catalog.name, item_name=i.name)}}"
                       class="categories">{{i.name}} <span class="text-muted" >({{i.catalog.name}})</span>
                    </a>

            </h3>
            {% endfor %}

        </section>
        <!--/section-->
    </div>
</main>

</body>
</html>