

{% import "bootstrap/wtf.html" as wtf %}


<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catalog</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='theme.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.1.12.9.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap4.min.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start" async defer> </script>

</head>




<body>


<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{url_for('showCatalog')}}">Catalog App</a>

        <div class="dropdown pull-right">

          <button type="button" class="btn btn-link navbar-link dropdown-toggle" data-toggle="dropdown">
              {% if current_user.is_authenticated %}
                    <i class="fas fa-users"></i>  {{ current_user.username }}
              {% else %}
                <i class="fas fa-users"></i> Sign In
              {% endif %}
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{url_for('registerNewUser')}}">Register</a>
              <a class="dropdown-item" href="{{url_for('showLogin')}}" class="dropdown-item">Login</a>
               <a class="dropdown-item" href="{{url_for('logout')}}" class="dropdown-item">Logout</a>
              <a class="dropdown-item" href="{{url_for('getCatalog')}} ">Catalog JSON</a>
          </div>
        </div>

    </div>

</nav>


<div class="container">

    <div class ="row">
        <div class="col-sm-12 col-lg-6 login-panel col-lg-offset-3" style="padding: 15px;
        margin-top: 10%; background-color: #fff; margin-left: auto; margin-right: auto;">

            <div class="col-sm-12">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}

                    <ul>
                    {% for message in messages %}
                        <li style="list-style: none;">
                            <div class="alert alert-danger alert-dismissible">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Error!</strong> {{ message }}.
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>

                <div id="result"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Login with social account</h3>
                        <hr>
                    </div>
                    <div class="col-lg-3">
                        <div id="signinButton">
                          <span class="g-signin"
                            data-scope="openid email"
                            data-clientid="636945289476-uejmp3me2o69288gtnggqfhi95p03d3k.apps.googleusercontent.com"
                            data-redirecturi="postmessage"
                            data-accesstype="offline"
                            data-cookiepolicy="single_host_origin"
                            data-callback="signInCallback"
                            data-approvalprompt="force">
                          </span>
                        </div>
                    </div>

                </div>
            <hr>
            <h3>Login</h3>
            <form action="{{url_for('showLogin')}}" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>




<script>

function signInCallback(authResult) {
  if (authResult['code']) {


    $('#signinButton').attr('style', 'display: none');


    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        console.log(result)
      if (result) {
          $('#result').html(
          '<div class="alert alert-info">'
          +'Login Successful!'+ result + '</br>Redirecting...'
          +'</div>'

          )
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
      }
      else if (authResult['error']) {
      console.log('There was an error: ' + authResult['error']);
     }
     else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      },error:function(x,s,e){console.log(e)}

  }); } }
</script>



</body>

</html>