<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>

{% include "navbar.html" %}

<main class="container">

    <div class="row">
        <div class="col-sm-6" style="">
            <h3>{{item.name}}</h3>
            <p><strong>Description:</strong> {{item.description}}</p>
            <a href="{{url_for('editItem', item_name=item.name)}}">Edit</a> |
            <a href="#" onclick="showModal()" id="deleteLink" data-toggle="modal" data-target="#myModal">Delete</a>

        </div>
    </div>
</main>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
            <div class="row">
        <div class="col-sm-6 " style="">
            <h4>
                Delete {{item.name}}?
                    <a href="{{url_for('deleteItem', item_name=item_name)}}"
                        class="btn btn-primary btn-sm">Delete</a>
            </h4>


        </div>
    </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<script>

function showModal(){

    $('#myModal').toggle()

}


</script>

</body>
</html>