<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

{% import "bootstrap/wtf.html" as wtf %}
<body>

{% include "navbar.html" %}

<main class="container">

    <div class="row">
        <div class="col-sm-6" style="margin-left:auto; margin-right:auto;">
            <h3>Edit: {{item.name}}</h3>
            <form action="{{ url_for('editItem', item_name=item.name) }}" method="post">
                  {{ form.hidden_tag() }}
                  {{ wtf.form_field(form.itemName) }}
                  {{ wtf.form_field(form.description) }}
                  {{ wtf.form_field(form.categoryid) }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</main>

</body>
</html>