<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catalog</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='theme.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.1.12.9.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap4.min.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</head>