<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{url_for('showCatalog')}}">Catalog App</a>

        <div class="dropdown pull-right">

          <button type="button" class="btn btn-link navbar-link dropdown-toggle" data-toggle="dropdown">
              {% if current_user.is_authenticated %}
                    <i class="fas fa-users"></i>  {{ current_user.username }}
              {% else %}
                <i class="fas fa-users"></i> Sign In
              {% endif %}
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{url_for('registerNewUser')}}">Register</a>
              <a class="dropdown-item" href="{{url_for('showLogin')}}" class="dropdown-item">Login</a>
               <a class="dropdown-item" href="{{url_for('logout')}}" class="dropdown-item">Logout</a>
              <a class="dropdown-item" href="{{url_for('getCatalog')}} ">Catalog JSON</a>
              <a class="dropdown-item" href="{{url_for('categoriesJSON')}} ">Categories JSON</a>
              <a class="dropdown-item" href="{{url_for('itemJSON')}} ">Item JSON</a>
          </div>
        </div>

    </div>

</nav>