        body, html{

            background-color: #dddddd !important;
        }
        main{

            background-color: #ffffff !important;
            margin-top: 2% !important;
            padding: 10px !important;
        }

        .catalog-categories{

            border-right: solid 2px #dddddd !important;
        }
        .pull-right:{

            float: right important!;

        }
        .categories{

            text-decoration: none;
            font-size: 1.5rem;
            color: #FF5719 !important;
        }
        .section-heading{

            color: #010232 !important;
        }
        .login-panel{

            background-color: #fff important;
            padding: 15px important;
            margin-top: 10% important;
        }
        .col-6-container{

            background-color:#fff;
            padding:15px;
            margin-top:10%;
            margin-left:auto;
            margin-right:auto;
        }
        .navbar-brand{

            font-size: 2.3rem;
            color: #ffffff;
            font-weight: bolder;

        }
        .btn-primary{

            background-color: #FF5719 !important;
            border: 1px #FF5719 solid !important;
            color: #ffffff;

        }
        .btn-primary:hover{

            background-color: #FF5719 !important;
            border: 1px #FF5719 solid !important;
        }
        .bg-dark{

            background-color: #000033 !important;
            border-color: #00004d;
        }
        section{

            padding: 10px;
        }
        .style-none{

            list-style: none;
        }
        .navbar-link{

            color: #ffffff !important;
            font-size: 19px !important;
            text-decoration: none !important;
        }
